$color-primary: #42567A;
$color-primary-alpha: rgba(66, 86, 122, 0.5);
$color-hover: #F4F5F9;
$color-hover-stroke: rgba(48, 62, 88, 0.5);
$color-background: #F4F5F9;
$color-white: #FFFFFF;

$font-primary: 'PT Sans, sans-serif';